<html>
<head>
	<title>Atlas Product</title>
</head>
<body>

<h1>Atlas</h1>
	
<p>The atlas is an knowledge base of all the development products that we use.  This large collection of information represents all of the applications and code that we maintain.</p>

<p>This product belongs to the tools business line which contains internal tools required by IT.  This major release was started in 2014.</p>

<h2>Modules</h2>

<dl>
	<dt><a href="#">Atlas Service</a></dt>
	<dd>The atlas service is used to manage the business functionality with the database.</dd>
	<dt><a href="#">Atlas Reporting</a></dt>
	<dd>The atlas reports combine rdf data to gather metrics from the system.</dd>
	<dt><a href="#">Atlas UI</a></dt>
	<dd>The atlas UI is a swing application for viewing the data.</dd>
</dl>

<h2>Active Versions</h2>

<h3>Releases</h3>

<dl>
	<dt><a href="#">1.0 Branch</a></dt>
	<dd><a href="#">Production</a></dd>
	<dd><a href="#">Production Support</a></dd>
	<dd><a href="#">2014 Summer Maintenance Release</a></dd>
	<dt><a href="#">1.1 Branch</a></dt>
	<dd><a href="#">2014 Winter Maintenance Release</a></dd>
</dl>

<h3>Artifacts</h3>

<dl>
	<dt><a href="#">1.0 Branch</a></dt>
	<dd><a href="#">atlas.bat</a></dd>
	<dd><a href="#">atlas-service.jar</a></dd>
	<dt><a href="#">1.1 Branch</a></dt>
	<dd><a href="#">atlas.bat</a></dd>
	<dd><a href="#">atlas-service.jar</a></dd>
</dl>

<h3>Developers</h3>

<dl>
	<dt><a href="#">1.0 Branch</a></dt>
	<dd><a href="#">Scott</a></dd>
	<dt><a href="#">1.1 Branch</a></dt>
	<dd><a href="#">Scott</a></dd>
	<dd><a href="#">Steph</a></dd>
</dl>

<h2>Dependencies</h2>

<h3>Requires</h3>

<dl>
	<dt><a href="#">Hibernate</a></dt>
	<dd><a href="#">org.hibernate.Query</a></dd>
	<dd><a href="#">org.hibernate.Repository</a></dd>
	<dd><a href="#">org.hibernate.Search</a></dd>
	<dt><a href="#">Logging</a></dt>
	<dd><a href="#">org.log4j.Logger</a></dd>
</dl>

<h3>Used By</h3>

<dl>
	<dt><a href="#">MSB<a/></dt>
	<dd><a href="#">org.artisan.FormContext<a/></dd>
	<dd><a href="#">org.artisan.SearchFilter<a/></dd>
	<dd><a href="#">org.artisan.Permissions<a/></dd>
	<dt><a href="#">F2R<a/></dt>
	<dd><a href="#">org.artisan.FormContext<a/></dd>
	<dd><a href="#">org.artisan.SearchFilter<a/></dd>
	<dd><a href="#">org.artisan.Permissions]<a/></dd>
</dl>

<h2>Environments</h2>

<h3>Deploy Configurations</h3>

<dl>
	<dt><a href="#">1.0 Branch</a></dt>
	<dd><a href="#">datacapture-container</a></dd>
	<dd><a href="#">appdev-container</a></dd>
</dl>

<h3>Datasources</h3>

<dl>
	<dt><a href="#">ut1</a></dt>
	<dd><a href="#">ojdbc:oracle:user:pass@ut1</a></dd>
	<dt><a href="#">ut2</a></dt>
	<dd><a href="#">ojdbc:oracle:user:pass@ut2</a></dd>
	<dt><a href="#">utps</a></dt>
	<dd><a href="#">ojdbc:oracle:user:pass@utps</a></dd>
</dl>

<h2>Issues</h2>

<dl>
	<dt><a href="#">1.0 Branch</a></dt>
	<dd><a href="#">Open (3)</a></dd>
	<dt><a href="#">1.1 Branch</a></dt>
	<dd><a href="#">Open (32)</a></dd>
	<dd><a href="#">Resolved (15)</a></dd>
</dl>

</body>
</html>