<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="docs-assets/ico/favicon.png">
		<title>Atlas</title>
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="atlas.css" rel="stylesheet">
	</head>

	<body>

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Atlas</a>
				</div>
				<div class="navbar-collapse collapse">
					<form class="navbar-form navbar-right" role="form">
						<a href="#" type="submit" class="btn btn-info">Scott Finlay</a>
						<a href="#" type="submit" class="btn btn-info">Logout</a>
						<a href="#" type="submit" class="btn btn-info">Francias</a>
					</form>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>Security Service</h1>
				<p>Production Release 2013-10-12 v3.1.2</p>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<div class="col-md-4 details">
					<h2>Developers</h2>

					<ul>
						<li><a href="#">Scott</a></li>
						<li><a href="#">Ben</a></li>
						<li><a href="#">Jonny</a></li>
					</ul>
				</div>

				<div class="col-md-4 details">
					<h2>Issues</h2>
				
					<ul>
						<li><a href="#">37 OPEN</a></li>
						<li><a href="#">103 CLOSED</a></li>
						<li><a href="#">2 QA Ready</a></li>
					</ul>
				</div>
				
				<div class="col-md-4 details">
					<h2>Modules</h2>
				
					<ul>
						<li><a href="#">Security Service API</a></li>
						<li><a href="#">Security Service JBoss Impl</a></li>
						<li><a href="#">Security Service Mock Impl</a></li>
					</ul>
				</div>

			</div>
			
			<div class="row">
				
				<div class="col-md-12 details">
					<h2>Used By</h2>
					
					<ul>
						<li><a href="#">Artisan</a></li>
						<li><a href="#">Cow</a></li>
						<li><a href="#">Taw</a></li>
					</ul>
				</div>
				
				<div class="col-md-4 details">
					<h2>Dependencies</h2>
				
					<ul>
						<li><a href="#">Codetable Service</a></li>
						<li><a href="#">Parameter Service</a></li>
					</ul>
				</div>

			</div>
			
			<hr class="clear">

			<footer>
				<p>&copy; Atlas 2013</p>
			</footer>
		</div>

		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
